pbr>=2.0.0

actdiag
blockdiag
nwdiag
openstackdocstheme>=2.2.1 # Apache-2.0
seqdiag
sphinx>=2.0.0,!=2.1.0 # BSD
sphinxcontrib-actdiag
sphinxcontrib-blockdiag # BSD
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag # BSD
yasfb>=0.6.1
