pbr>=2.0.0

actdiag
blockdiag
nwdiag
openstackdocstheme>=1.18.1 # Apache-2.0
seqdiag
sphinx>=1.5.1,!=1.6.1  # BSD
sphinxcontrib-actdiag
sphinxcontrib-blockdiag # BSD
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag # BSD
yasfb>=0.6.1
